### Необходимо построить модель логистической регрессии, которая предсказывает уровень дохода человека

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.shape

(48842, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

пропусков нет, ничего чистить не надо

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [9]:
# выберем признаки возраст и "класс работы" для предсказания дохода
selectedColumns = data[['age', 'workclass', 'income' ]]

# столбец workclass является категориальной переменной переведем его в значения 0 и 1
X = pd.get_dummies(selectedColumns, columns = ['workclass'])

# столбец income является целевой переменной, удаляем его из X
del X['income']
X.head()

,age,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,0,0,0,0,1,0,0,0,0
1,38,0,0,0,0,1,0,0,0,0
2,28,0,0,1,0,0,0,0,0,0
3,44,0,0,0,0,1,0,0,0,0
4,18,1,0,0,0,0,0,0,0,0

In [10]:
# целевая переменная income является категориальной, поэтому переведем ее значения в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
le.fit(data['income'])

LabelEncoder()

In [12]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [13]:
le.transform(['<=50K', '>50K','<=50K', '>50K'])

array([0, 1, 0, 1], dtype=int64)

In [14]:
# записываем в переменную y преобразованный столбец income

y = pd.Series(data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [31]:
# разделяем выборку на тестовую и тренировочную
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [58]:
model = LogisticRegression(C = 10)

In [59]:
# обучаем модель

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

D:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [60]:
# проверяем точность модели
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7623093458900604

In [61]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.97      0.86      7490
           1       0.44      0.07      0.13      2279

   micro avg       0.76      0.76      0.76      9769
   macro avg       0.61      0.52      0.49      9769
weighted avg       0.70      0.76      0.69      9769

###### улучшим модель добавив еще признаков

In [71]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [72]:
selectedColumns = data[['age', 'workclass', 'education', 'educational-num', 'relationship', 'income' ]]

# столбцы 'workclass', 'education', 'relationship' являются категориальными
X = pd.get_dummies(selectedColumns, columns = ['workclass', 'education', 'relationship'])

# столбец income удаляем
del X['income']
X.head()

,age,educational-num,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,education_Masters,education_Preschool,education_Prof-school,education_Some-college,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,25,7,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,28,12,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,44,10,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,18,10,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [89]:
model = LogisticRegression(C = 20)

In [90]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

D:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [91]:
accuracy_score(y_test, y_pred)

0.8296652676834886

In [92]:
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.93      0.89      7490
           1       0.69      0.50      0.58      2279

   micro avg       0.83      0.83      0.83      9769
   macro avg       0.77      0.71      0.73      9769
weighted avg       0.82      0.83      0.82      9769

###### качество модели улучшилось, но можно ли еще улучшить?

In [139]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [140]:
#добавим еще категориальных столбцов (цвет кожи добавлять не будем, чтобы не обвинили в рассизме)
selectedColumns = data[['age', 'workclass', 'education', 'educational-num', 'marital-status', 'relationship', 'occupation', 'income' ]]

X = pd.get_dummies(selectedColumns, columns = ['workclass', 'education', 'occupation', 'marital-status', 'relationship'])

del X['income']
X.head()

,age,educational-num,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,25,7,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,38,9,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,28,12,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,44,10,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,18,10,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [141]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [142]:
model = LogisticRegression(C = 40)

In [143]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

D:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [144]:
accuracy_score(y_test, y_pred)

0.8339645818405159

In [145]:
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.93      0.90      7490
           1       0.69      0.53      0.60      2279

   micro avg       0.83      0.83      0.83      9769
   macro avg       0.78      0.73      0.75      9769
weighted avg       0.82      0.83      0.83      9769

###### качество модели еще улучшилось. На этом пожалуй и остановимся, чтобы, не дай Бог, не переобучиться