In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook

In [2]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [4]:
display(links.head(), movies.head(), ratings.head(), tags.head())

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [6]:
display(len(links), len(movies), len(ratings), len(tags))

9742

9742

100836

3683

##### Найдем лучшие фильмы по суммарному рейтингу

In [56]:
top5 = ratings.groupby('movieId').sum().sort_values('rating', ascending=False).head(20)
top5

         userId  rating     timestamp
movieId
318       95829  1404.0  376924839127
356      101385  1370.0  386165236681
296       90621  1288.5  349204311001
2571      85236  1165.5  350270041779
593       85535  1161.0  320035674330
260       76484  1062.0  298509531263
110       73375   955.5  259448308280
2959      69737   931.5  282265436424
527       69481   929.5  257743980936
480       74065   892.5  257876752969
589       68674   889.5  247582833522
1196      62956   889.5  252659870390
50        61053   864.5  237150222745
1         65904   843.0  242914455479
1198      58873   841.5  243300505487
2858      63626   827.5  247989791755
858       57167   823.5  233408117417
4993      62164   813.0  257789535054
1210      58714   811.0  228527888105
47        59757   807.0  231438354555

In [58]:
top5mov = pd.merge(top5, movies, how='left', on='movieId')
top5mov[['title','rating']]

                                                title  rating
0                    Shawshank Redemption, The (1994)  1404.0
1                                 Forrest Gump (1994)  1370.0
2                                 Pulp Fiction (1994)  1288.5
3                                  Matrix, The (1999)  1165.5
4                    Silence of the Lambs, The (1991)  1161.0
5           Star Wars: Episode IV - A New Hope (1977)  1062.0
6                                   Braveheart (1995)   955.5
7                                   Fight Club (1999)   931.5
8                             Schindler's List (1993)   929.5
9                                Jurassic Park (1993)   892.5
10                  Terminator 2: Judgment Day (1991)   889.5
11  Star Wars: Episode V - The Empire Strikes Back...   889.5
12                         Usual Suspects, The (1995)   864.5
13                                   Toy Story (1995)   843.0
14  Raiders of the Lost Ark (Indiana Jones and the...   841.5
15                             American Beauty (1999)   827.5
16                              Godfather, The (1972)   823.5
17  Lord of the Rings: The Fellowship of the Ring,...   813.0
18  Star Wars: Episode VI - Return of the Jedi (1983)   811.0
19                        Seven (a.k.a. Se7en) (1995)   807.0

##### Найдем лучшие фильмы по метрике: сумма оценок умножить на количество пользовательсиких тэгов на фильм

In [60]:
top5 = ratings.groupby('movieId').sum()#.sort_values('rating', ascending=False)
top5mov = pd.merge(top5, movies, how='left', on='movieId')
top5sum = tags.groupby('movieId')[['tag']].count()#.sort_values('rating', ascending=False).head()
RS_top = pd.merge(top5mov, top5sum, how='left', on='movieId').fillna(0)
RS_top['new_rating'] = RS_top['rating'] * (1 + RS_top['tag'])
RS_top.sort_values('new_rating', ascending=False).reset_index()[['title','new_rating']].head(20)

                                                title  new_rating
0                                 Pulp Fiction (1994)    234507.0
1                                   Fight Club (1999)     51232.5
2           Star Wars: Episode IV - A New Hope (1977)     28674.0
3   Léon: The Professional (a.k.a. The Professiona...     19242.0
4        Eternal Sunshine of the Spotless Mind (2004)     19075.0
5                        2001: A Space Odyssey (1968)     17829.0
6                                    Inception (2010)     15700.5
7                            Big Lebowski, The (1998)     13728.0
8                                 Forrest Gump (1994)     13700.0
9                                 Donnie Darko (2001)     13020.0
10                                  Braveheart (1995)     10510.5
11  Star Wars: Episode V - The Empire Strikes Back...      9784.5
12                                     Memento (2000)      9177.0
13  Lord of the Rings: The Return of the King, The...      8382.0
14                   Silence of the Lambs, The (1991)      8127.0
15                  Terminator 2: Judgment Day (1991)      8005.5
16          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)      7755.0
17  Raiders of the Lost Ark (Indiana Jones and the...      7573.5
18                            Schindler's List (1993)      7436.0
19                                Blade Runner (1982)      7119.0

##### Найдем лучшие фильмы по той же метрике для фильмов в категориях Action и Comedy

In [68]:
RS_top[RS_top['genres'].str.find('Action')>=0].sort_values('new_rating', ascending=False).reset_index()\
            [['title','new_rating','genres']].head(20)

,title,new_rating,genres
0,Fight Club (1999),51232.5,Action|Crime|Drama|Thriller
1,Star Wars: Episode IV - A New Hope (1977),28674.0,Action|Adventure|Sci-Fi
2,Léon: The Professional (a.k.a. The Professiona...,19242.0,Action|Crime|Drama|Thriller
3,Inception (2010),15700.5,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
4,Braveheart (1995),10510.5,Action|Drama|War
5,Star Wars: Episode V - The Empire Strikes Back...,9784.5,Action|Adventure|Sci-Fi
6,"Lord of the Rings: The Return of the King, The...",8382.0,Action|Adventure|Drama|Fantasy
7,Terminator 2: Judgment Day (1991),8005.5,Action|Sci-Fi
8,Raiders of the Lost Ark (Indiana Jones and the...,7573.5,Action|Adventure
9,Blade Runner (1982),7119.0,Action|Sci-Fi|Thriller
10,"Matrix, The (1999)",6993.0,Action|Sci-Fi|Thriller
11,Avatar (2009),6640.5,Action|Adventure|Sci-Fi|IMAX
12,Gladiator (2000),6025.5,Action|Adventure|Drama
13,Aliens (1986),4995.0,Action|Adventure|Horror|Sci-Fi
14,"Terminator, The (1984)",4594.5,Action|Sci-Fi|Thriller
15,Django Unchained (2012),3640.0,Action|Drama|Western
16,X-Men (2000),3444.0,Action|Adventure|Sci-Fi
17,Star Wars: Episode VI - Return of the Jedi (1983),3244.0,Action|Adventure|Sci-Fi
18,"Dark Knight, The (2008)",3157.5,Action|Crime|Drama|IMAX
19,"Dark Knight Rises, The (2012)",2731.5,Action|Adventure|Crime|IMAX

In [69]:
RS_top[RS_top['genres'].str.find('Comedy')>=0].sort_values('new_rating', ascending=False).reset_index()\
            [['title','new_rating','genres']].head(20)

,title,new_rating,genres
0,Pulp Fiction (1994),234507.0,Comedy|Crime|Drama|Thriller
1,"Big Lebowski, The (1998)",13728.0,Comedy|Crime
2,Forrest Gump (1994),13700.0,Comedy|Drama|Romance|War
3,Dr. Strangelove or: How I Learned to Stop Worr...,4554.0,Comedy|War
4,Fargo (1996),4470.0,Comedy|Crime|Drama|Thriller
5,Toy Story (1995),3372.0,Adventure|Animation|Children|Comedy|Fantasy
6,Toy Story 2 (1999),3370.5,Adventure|Animation|Children|Comedy|Fantasy
7,Life Is Beautiful (La Vita è bella) (1997),3285.0,Comedy|Drama|Romance|War
8,American Pie (1999),3132.0,Comedy|Romance
9,Monty Python and the Holy Grail (1975),2830.0,Adventure|Comedy|Fantasy
10,Clerks (1994),2807.0,Comedy
11,Clueless (1995),2740.0,Comedy|Romance
12,"South Park: Bigger, Longer and Uncut (1999)",2641.5,Animation|Comedy|Musical
13,"Incredibles, The (2004)",2397.5,Action|Adventure|Animation|Children|Comedy
14,Finding Nemo (2003),2234.0,Adventure|Animation|Children|Comedy
15,Trainspotting (1996),2060.0,Comedy|Crime|Drama
16,Mrs. Doubtfire (1993),1952.0,Comedy|Drama
17,There's Something About Mary (1998),1930.0,Comedy|Romance
18,Addams Family Values (1993),1823.5,Children|Comedy|Fantasy
19,"Princess Bride, The (1987)",1803.0,Action|Adventure|Comedy|Fantasy|Romance